// .form {
//   display: flex;
//   max-width: 1120px;
//   margin: 2rem auto;
//   padding: 2rem;
//   border-radius: var(--bs-border-radius);
//   flex-direction: column;
//   border: 1px solid slategrey;

//   div {
//     flex-direction: column;
//     display: flex;
//   }
// }

// .lista {
//   margin-top: 1rem;
//   padding: 0.7rem;
//   border-radius: var(--bs-border-radius);
//   border-color: #e6e6e6;
//   border-width: 2px;
//   border-style: solid;

//   div {
//     background-color: #f9f9f9;
//     margin: 1rem;
//     padding: 0.7rem;
//     border-radius: var(--bs-border-radius);
//     border-color: #c8c8c8;
//     border-width: 1px;
//     border-style: solid;
//   }

//   p {
//     font-size: 1rem;
//     margin: 0;
//   }
//   .actions {
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     margin: 0;
//     border: 0;
//     padding: 0;

//     div {
//       display: flex;
//       flex-direction: row;
//       justify-content: center;
//       align-items: center;
//       margin: 0;
//       border: 0;
//       padding: 0;

//       span {
//         margin-left: 5px;
//         cursor: pointer;
//       }
//     }
//   }
// }

// .container {
//   display: flex;
//   max-width: 1120px;
//   margin: 2rem auto;
//   justify-content: flex-end;
//   padding: 2rem;
//   border-radius: var(--bs-border-radius);
//   border: 1px solid slategrey;
// }

// .row {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

// .column {
//   display: flex;
//   flex-direction: column;
//   flex: 1;
//   height: 50px;
//   border-radius: var(--bs-border-radius);
//   padding: 1rem 1rem;
//   border: 0;
//   background-color: black;
//   color: whitesmoke;
//   align-items: center;
//   width: 150px;

//   & + .column {
//     margin-left: 2rem;
//   }
// }

// .basicInfo {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   padding: 2rem;
//   border: 1px solid slategrey;
//   border-radius: var(--bs-border-radius);
//   background-color: white;
// }
