#menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#menu.navbar-default {
    font-size: 14px;
    background: linear-gradient(#6f9fed, #587DEE);
    border-width: 0px;
    border-radius: 0px;
    border-bottom: 0px;
}
#menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#menu.navbar-default .navbar-nav>li>a:hover,
#menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background: linear-gradient(#587DEE, #587DEE);
}
#menu.navbar-default .navbar-nav>.active>a,
#menu.navbar-default .navbar-nav>.active>a:hover,
#menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(31, 87, 255, 1);
}
#menu.navbar-default .navbar-toggle {
    border-color: #1f57ff;
}
#menu.navbar-default .navbar-toggle:hover,
#menu.navbar-default .navbar-toggle:focus {
    background-color: #1f57ff;
}
#menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #1f57ff;
}
#menu.navbar-default .navbar-toggle:hover .icon-bar,
#menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #5882fa;
}
.title-block
{
    top: 0;
    left: 0;
    position: fixed;
    width: 16.7%;
    height: 100px;
    background-color: #e2e2e2;
    z-index: 4;
}
.page-title
{
    margin-top: 60px;
    margin-left: 10px;
    text-align: left;
    font-family: "Arial";
    color: #4f4f4f;
}
.account-wall
{
    margin-top: 0px;
    border-radius: 5px;
    padding: 29px 20px 20px 20px;
    background-color: #ffffff;
    height: 100%;
}
.btn-common
{
    float: right;
    background-color: #6f9fed;
    border: none;
    text-align: center;
    font-size: 16px;
    height: 34px;
    z-index:3;
}
.table
{
    text-align: left;
    padding: 15px;
}
.nopadding
{
   padding: 0 !important;
   margin: 0 !important;
}
td {
    margin-left: 20px;
}
.paragraph
{
    color: #777;
    text-align: center;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.empty 
{
    color: #d6d6d6;
    text-align: center;
    line-height:51px;
}
.table-head
{
    font-family: "Arial";
    font-size: 18px;
    font-weight: normal; 
    color: #4f4f4f;
}
h1, h2, h3, h4, h5, h6, p{
    font-family: "Arial";
}
.btn-hover:hover
{
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.24),0 4px 4px 0 rgba(0,0,0,0.19);
}
.btn-hover:focus
{
    border: solid;
    border-width: 2px;
    border-color: #476BCC;
}
.btn-side-text
{
    margin-left: 5px; margin-right: 5px;
}
.btn-side
{
    background-color: #eeeeee;
    border: solid;
    border-width: 1px;
    border-color: #e2e2e2;
    margin-right: 10px;
    height: 40px;
    width: 95%;
}
.btn-side:hover
{
    background: linear-gradient(#6f9fed, #587DEE);
    color: white;
    border: none;
/*    border-width: 2px;
    border-color: #476BCC;*/
    margin-left: 10px; margin-right: 0px;
}
.btn-side:focus
{
    background: linear-gradient(#6f9fed, #587DEE);
    color: white;
    border: none;
/*    border-width: 2px;
    border-color: #476BCC;*/
    margin-left: 10px; margin-right: 0px;
}
.btn-exit
{
/*    background: linear-gradient(#ff4c4c, #ea4646); */
    background: linear-gradient(#6f9fed, #587DEE);
    height: 20px;
    display: inline;
    float: right;
}
.header-text
{
    font-weight: bold;
    color: #6F9FED;
}
.clearfix::before .clearfix::after {
    content: '';
    display: table;
}
.clearfix::after {
    clear: both;
}
.input-tiny {
    width: 5% !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.input-small {
    width: 15% !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.input-medium {
    width: 40% !important;
}
.input-large {
   width: 60% !important; 
}
.input-date {
   width: 20% !important; 
}
input {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}
@media only screen and (max-width: 1000px) {
    #title-bar {
        height: 100px;
        z-index: 4;
    }
}
