#diagramContainer {
    position: absolute;
    background-color: white;
    margin: 10px;
    padding: 20px;
    width:99%; height: 600px;
    overflow:auto;
    background-image: url("grid.png");
}
#sideBarRight {
    position: absolute;
    right: 0;
    top: 108px;
    width:   300px;
    height: 600px;
    background-color: #CCC;
    display: none;
}
#sideBarLeft {
    position: absolute;
    left: 0;
    top: 108px;
    width:   300px;
    height: 600px;
    background-color: #CCC;
    display: none;
}
.new_element {
    color: black;
    background-color: lightgray;
}
.item {
    position: absolute;
    border: 1px solid blue;
    background-color: #EEE;
    width: 180px;
    padding: 10px;
}
.btn_activity {
    width:100%;
}