#diagramContainer {
    padding: 20px;
    width:100%; height: 500px;
}
.new_element {
    color: black;
    background-color: lightgray;
}
.item {
    position: absolute;
    border: 1px solid blue;
    background-color: #EEE;
    width: 250px;
    padding: 20px;
}
.btn_activity {
    width:100%;
}