.precondition {
  display: flex;
  flex-direction: column;
}

.expression {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subgoal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  margin: 0;
  padding: 1rem 0;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}
