.attributeRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(159, 149, 149);
  margin: -1rem;
  padding: 1rem;
  div {
    flex: 1;
  }
}

.attributeRowHead {
  font-weight: bolder;
}

.attribute {
  display: flex;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: var(--bs-border-radius);
  border: 1px solid slategrey;
  flex-direction: column;
}
.attributeType {
  display: flex;
  align-content: center;
  margin-bottom: 1rem;
  div {
    flex: 1;
  }
  flex-wrap: wrap;
}

.range {
  display: flex;
  flex-direction: column;
}

.rangeitem {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  div {
    flex: 1;
  }
  flex-wrap: wrap;
}

.smallInput {
  width: 6rem;
  max-width: max-content;
}
