// .container {
//   display: flex;
//   max-width: 1120px;
//   margin: 2rem auto;
//   padding: 2rem;
//   border-radius: var(--bs-border-radius);

//   form {
//     display: flex;
//     flex: 3;
//     align-items: center;
//     justify-content: center;

//     input {
//       width: 90%;
//     }
//   }
// }
// .casecontainer {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;

//   info {
//     flex: 9;

//     width: 100%;
//   }
//   icondelete {
//     flex: 1;
//   }
// }
