.lista {
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border-color: #e6e6e6;
  border-width: 2px;
  border-style: solid;

  div {
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9;
    margin: 1rem;
    padding: 0.7rem;
    border-radius: 0.3rem;
    border-color: #c8c8c8;
    border-width: 1px;
    border-style: solid;
    justify-content: space-between;
  }
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  margin: 0;
  padding: 1rem 0;

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: #f5f5f5;
  }
}
